<center><div class="container">


   <%= erb :'/song/_edit_delete_song', :locals => {song: @song} %><br><br>

  <div class="song_info"><br><br>
    Title: <a href="<%= @song.song_url %>"><%= @song.title %></a><br><br>
    Added By: <a href="<%= @song.user.username %>"><%= @song.user.username %>
  </div>

</div></center>
