
<center><div>
  <div>
<br><br>
    <h1><%= @playlist.name %></h1>
  <% if logged_in? %>
    <% if @playlist.user == current_user %>

    <%= erb :'song/_create_song', :locals => {playlist: @playlist} %>
    <%= erb :'/playlist/_edit_delete_playlist', :locals => {playlist: @playlist} %><br><br>

    <% end %>
     <% end %>
    <%else%>
    Tracks:<br>
    <% @songs.each do |song| %>
       <a href="/songs/<%= song.id %>"><%= song.title%></a><br>

    <% end %>


  </div>

</div></center>
